<mat-toolbar color="primary" class="between mat-elevation-z8">
    <div><mat-icon [matMenuTriggerFor]="topMenu">menu</mat-icon></div>
    <div>Angular 11 Demo</div>
    <div><mat-icon [routerLink]="['/home']">home</mat-icon></div>
</mat-toolbar>

<mat-menu #topMenu>
    <menu mat-menu-item [routerLink]="['/home']"><mat-icon>home</mat-icon></menu>
    <menu mat-menu-item [routerLink]="['/forms']" [matMenuTriggerFor]="formsMenu">Forms</menu>
</mat-menu>

<mat-menu #formsMenu>
    <menu mat-menu-item [routerLink]="['/forms', 'nested-array']">Nested array</menu>
    <menu mat-menu-item [routerLink]="['/forms', 'form-class']">Form class</menu>
</mat-menu>