<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput required formControlName="name"
        placeholder="name"><br>
    </mat-form-field>

    <div formArrayName="aliases">
        <button mat-raised-button color="primary" (click)="addAlias()" type="button">Add Alias</button>
        
        <br><br>

        <div *ngFor="let alias of aliases.controls; let i=index" [formGroupName]="i">
            
            <span>Alias {{i+1}}</span> &nbsp; &nbsp;
            <button mat-raised-button color="primary" type="button" (click)="removeAlias(i)">Remove</button>
            <br><br>

            <!-- The repeated alias template -->
            <mat-form-field appearance="outline">
                <mat-label>Item</mat-label>
                <input matInput type="text" formControlName="item"> 
            </mat-form-field> &nbsp; &nbsp;
            
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price"> 
            </mat-form-field> &nbsp; &nbsp;
            
            <br>

            <button mat-raised-button color="accent" type="button" (click)="addOrigin(alias.get('origins'))">Add origin</button>

            <br><br>

            <div formArrayName="origins">

                <div *ngFor="let origin of alias.get('origins')['controls']; let j=index" [formGroupName]="j">
                    <span>Origin {{j+1}}</span> &nbsp; &nbsp;
                    <button mat-raised-button color="accent" type="button" (click)="removeOrigin(alias.get('origins'),j)">
                        Remove
                    </button><br><br>

                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input required matInput placeholder="city" formControlName="city">
                    </mat-form-field> &nbsp; &nbsp;

                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input required matInput placeholder="country" formControlName="country">
                    </mat-form-field>
                    

                    <br><br>
                </div>

            </div>

        </div>
    </div>
    
    <br>

    <button mat-raised-button color="accent" type="submit" [disabled]="!profileForm.valid">Submit</button>

    <br><br>

    <button mat-raised-button color="accent" type="button" (click)="logForm()">Show form value</button>
</form>
